<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


	<connectionStrings>
		<add name="StudentDB"
			 connectionString="Data Source=LAPTOP-E2T1P0CP\SQLEXPRESS;Initial Catalog=StudentDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>